// Colors

$black           : #191919;

$light-blue      : #00b9ff;
$blue            : #0095ce;
$dark-blue       : #206998;

$dark-greek      : #1c9441;
$green           : #36bb5f;
$light-green     : #4ad775;

$grey            : #616161;
$dark-grey       : #222424;

$grey-blue       : #576c73;
$grey-blue-light : #c7d4d8;

$orange          : #ffaa00;

$red             : #e53838;

// Component-specific

$timeline-border            : #006085;
$timeline-color             : #74b5d7;

$app-selector-background    : #454545;

$chart-background           : #d1dfe3;

$numbered-bullet-background : #3d484c;

$base-background            : #edf1f4;
$base-font-color            : $black;

$accent-color               : $grey-blue;

$button-background          : $light-blue;
$button-hover-background    : $blue;

$notifications-link-hover   : #e5e5e5;
$white-section-shadow       : #ced5d9;

$scale-hover                : $light-blue;
$scale-default              : #0087ba;
$scale-past                 : #00a2e1;
$scale-border               : #006085;

$graph-fill                 : #fff;

$tag-at-risk                : $orange;
$tag-completed              : $green;
$tag-on-track               : $blue;
$tag-over-budget            : $red;

$sub-feature-hover          : $blue;
$sub-feature-fill           : $dark-grey;
$sub-feature-background     : $black;
$sub-feature-accent         : #c7d4d8;

$feature-section-border     : #c7d4d8;
$feature-label-background   : #125175;

$sidebar-feature-tabs       : $black;
$sidebar-dark-background    : #000;

$side-stat-background       : #fff;

$new-tooltip-heading        : #2a4151;
